.center
  - @posts.each do |post|
    - if post.content.present?
      .center.post
        .row
          .name-and-time
            = raw render_emoji (post.user.name), options = {:class=>'user-name'} if post.user.present?
            &middot;
            .post-time
              = time_ago_in_words(post.updated_at)
        .row
          .post-content
            = raw render_emoji post.content
