%nav
  %a.main{:href => "#{root_url}"}
    Em☀️jer
  / responsive
  %input#bmenu.burgercheck{:type => "checkbox"}/
  %label.burgermenu{:for => "bmenu"}
  / /responsive
  .menu
    %a.icon-menu{:href => "#nav"} Nav
    = link_to_modal (fa_icon "pencil-square-o"), new_post_path, class: "button primary"
    / %a.button.primary{:href => "/posts/new"}
    /   = fa_icon "pencil-square-o"
