%nav
  %a.main{:href => "#{root_url}"}
    Em☀️jer
  / responsive
  %input#bmenu.burgercheck{:type => "checkbox"}/
  %label.burgermenu{:for => "bmenu"}
  / /responsive
  .menu
    %a.icon-menu{:href => "#nav"} Nav
    %a.button.primary{:href => "/posts/new"}
      = fa_icon "pencil-square-o"
